* {
    margin: 0px;
    padding: 0px;
  }
  
  ul, ol {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
img{
    margin: 100px;
    width: 80%;
    height: 80%;
    opacity: 0.5;
}
