<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/index.css?after">
    <script src="https://kit.fontawesome.com/8c61d70daf.js" crossorigin="anonymous"></script>
    
    <title>Document</title>
</head>
<body>
    
    <contain>
        
        <div id="contain">
            <div class="background">
                <div class="banner">
                    <img src="../../static/images/banner.jpg"></img>
                </div>
            <div class="Section">
                <div class="miniSec">
                    <div class="users">
                        <div class="user_img">
                            <i class="fa-regular fa-circle-user"></i>
                        </div>
                        <div class="user_question">
                            <p>{{ user_input }}</p>
                        </div>
                    </div>
                    <div class="gom_sec">
                        <div class="gom">
                            <img src="../../static/images/gom2.png"></img>
                            
                        </div>
                        <div class="answer" id="answer">
                            <p>
                              {{user_output}}
                            </p>
                        </div>
                        <div class="answer2" id="answer2">
                            <p>
                                {{user_output2}}
                            </p>
                        </div>
                         
                    </div>
                <div class="button_sec">
                    <div class="answer_button">
                        <button class="answer_button_left" onclick="expandAnswer()">답안 확인<i class="fa-regular fa-message"></i></button>
                    </div>
                    <div class="answer_button2">
                        <button class="answer_button_right" onclick="expandAnswer2()">답안 확인<i class="fa-regular fa-message"></i></button>
                    </div>
                </div>
                <script>
                    function expandAnswer() {
                        let answerDiv = document.getElementById("answer");
                        
                        answerDiv.style.width = "100%";
                        answerDiv.style.height = "100%";
                        answerDiv.style.marginRight = "20px";
                        answerDiv.style.border = "2px solid black";
                        
                        let answer2Div = document.getElementById("answer2");
                        answer2Div.style.width = "0";
                        answer2Div.style.height = "0";
                        answer2Div.style.border = "none";
                    
                    }
                    

                    function expandAnswer2() {
                        let answer2Div = document.getElementById("answer2");
                        answer2Div.style.width = "100%";
                        answer2Div.style.height = "100%";
                        answer2Div.style.marginRight = "20px";
                        answer2Div.style.border = "2px solid black";
                        answer2Div.style.right = "20px";
                        let answerDiv = document.getElementById("answer");
                        
                        answerDiv.style.width = "0";
                        answerDiv.style.height = "0";
                        answerDiv.style.border = "none";
                        answerDiv.style.border = "none";
                    }
                </script>
               
                        
                </div>
                <div class="search">
                    <div class="inputsearch">
                        <form method="post" action="{% url 'save_user_output' %}">
                        {% csrf_token %}
                        <input placeholder="궁금한 사항이 있으면 물어보세요" type="text" name="user_input" onkeydown="handleEnterKey(event)"> 
                        
                        <button type="submit" method="post" href="{% url 'save_user_output' %}"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </form>
                       
                    </div>
                    <div class="popup">
                        <img class="star1" src="../../static/images/star.gif" alt="star">
                        <div class="popup_q">
                            <p>어떤 답안을 선호하시나요?</p>
                        </div>
                        
                        <div class="wrap">
                            <form method="post" action="{% url 'save_user_output' %}">
                                {% csrf_token %}
                                
                                <button class="item1" type="submit" method="post" href="{% url 'save_user_output' %}" name='answer' value='left'>첫번째 답안</button>
                            
                               
                                <button class="item2" type="submit" method="post" href="{% url 'save_user_output' %}" name='answer' value='right'>두번째 답안</button>
                            </form>
                        </div>
                        <img class="star2" src="../../static/images/star.gif" alt="star">
                   
                
                </div>
                                   
            </div>
        </div>
    
        

    
</contain>
    
</body>
</html>