<link rel="stylesheet" href="../../static/css/loading.css?after">
<div class="back_sec">
    <div class="loading_imgs"><img src="../../static/images/loading.gif"></div>
    <div class="loading_dots"><p>파린이가 답변을 찾아보고 있어요</p><img src="../../static/images/loading_dots.gif"/></div>

{{error}}
{% if error %}
</div>
    <!-- 일단 화면 보여주고 api 넘어가는 동안에 기본적으로 화면이 유지되는 기능을 이용한 것이라, 시간을 늘려서는 안됨. -->
    <!-- url은 로컬에서만 서빙할 거라서 동적으로 수정 필요-->
    <meta http-equiv="refresh" content="0; url=http://10.41.2.64:8000/main" /> <!--입력이 없을 경우 메인화면으로 돌아간다-->
{% else %}
    <meta http-equiv="refresh" content="0; url=http://10.41.2.64:8000/main/save_user_input" /><!--입력이 있으면 다음화면으로 넘어간다-->
{% endif %}