<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <script src="https://kit.fontawesome.com/8c61d70daf.js" crossorigin="anonymous"></script>
    <title>Chunjae Chat bot</title>
</head>
<body>
    <contain>
        
            <div id="contain">
                <div class="background">
                    <div class="banner">
                        <img src="../../static/images/banner.jpg"></img>
                    </div>
                <div class="Section">
                    <div class="miniSec">
                        <div class="gom">
                            <img src="../../static/images/gom.png"></img>
                        </div>
                            <div class="Chat">
                                <p>
                                    안녕하세요 천재교육 AI 파이썬 챗봇 파린이 입니다.<br><br>
                                    궁금한 사항이 있으면 물어보세요 !
                                </p>
                                
                            </div>
                    </div>
                    <div class="search">
                        <div class="inputsearch">
                            <form method="post" action="{% url 'save_user_input' %}">
                            {% csrf_token %}
                            <input placeholder="궁금한 사항이 있으면 물어보세요" type="text" name="user_input" onkeydown="handleEnterKey(event)"> 
                            
                            <button type="submit" method="post" href="{% url 'save_user_input' %}"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </form>
                           
                        </div>
                    </div>
                                       
                </div>
            </div>
        
            

        
    </contain>
    
</body>
</html>